<div class="container-fluid shopping-cart">

  <div class="row">
    <div class="col-md-8 biling-cart order-md-1">
      <h4 class="heading-color text-center text-bold">Delivery address</h4>
      <form action="" method="POST" id="address-form">
        <fieldset>
<div class="row">
  <div class="col-md-6">
  <p class="input-wrapper lg-half">
    <input type="text" name="shipping-first-name" id="shipping-first-name" required>
    <label for="shipping-first-name">First Name</label>
  </p>
</div>
<div class="col-md-6 ">
  <p class="input-wrapper lg-half">
    <input type="text" name="shipping-last-name" id="shipping-last-name" required>
    <label for="shipping-last-name">Last Name</label>
  </p>
</div>
</div>
<div class="row">
  <div class="col-md-6">
  <p class="input-wrapper lg-half">
    <input type="text" name="shipping-first-name" id="shipping-first-name" required>
    <label for="shipping-first-name">Pincode Name</label>
  </p>
</div>
<div class="col-md-6 ">
  <p class="input-wrapper lg-half">
    <input type="text" name="shipping-last-name" id="shipping-last-name" required>
    <label for="shipping-last-name">Locality</label>
  </p>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="input-wrapper lg-half">
      <input type="text" name="shipping-street-address" id="shipping-street-address" required>
      <label for="shipping-street-address">Street Address</label>
    </p>
</div>

</div>
<div class="row">
  <div class="col-md-6">
  <p class="input-wrapper lg-half">
    <input type="text" name="shipping-first-name" id="shipping-first-name" required>
    <label for="shipping-first-name">Landmark</label>
  </p>
</div>

<div class="col-md-6 ">
  <p class="input-wrapper lg-half">
    <input type="text" name="shipping-last-name" id="shipping-last-name" required>
    <label for="shipping-last-name">City/District/Town</label>
  </p>
</div>
</div>
<div class="row">
  <div class="col-md-6">
  <p class="input-wrapper lg-half">
    <input type="text" name="shipping-first-name" id="shipping-first-name" required>
    <label for="shipping-first-name">Mobile</label>
  </p>
</div>

<div class="col-md-6 ">
  <p class="input-wrapper lg-half">
    <input type="text" name="shipping-last-name" id="shipping-last-name" required>
    <label for="shipping-last-name">Alternate Mobile</label>
  </p>
</div>
</div>
<div class="row address-lable">
  <div class="col-md-2">
    <label class="headingLabel" for="same-address">Address Type</label>
  </div>

  <div class="col-md-6 mb-3">

    <div class="custom-control custom-checkbox">
      <input type="checkbox" checked class="custom-control-input" id="same-address">
      <span class="custom-control-label" for="same-address">Home (All My Deiivery_)
        my billing address</span>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" checked class="custom-control-input" id="save-info">
      <span class="custom-control-label" for="save-info">Work
        (Delivery between 10am - 5am)</span>
    </div>
  </div>
</div>

<div class="row address-lable" >
  <div class="col-md-2">
  <label class="headingLabel" for="same-address">Delivery Type</label>
  </div>
  <div class="col-md-6 mb-3">

    <div class="custom-control custom-checkbox">
      <input type="checkbox" checked class="custom-control-input" id="same-address">
      <span class="custom-control-label" for="same-address">Standard delivery</span>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="save-info">
      <span class="custom-control-label" for="save-info">Express Delivery</span>
    </div>
  </div>
</div>
<div class="row address-lable" >
  <div class="col-md-2">
  <label class="headingLabel" for="same-address">Select Your Mode</label>
  </div>
  <div class="col-md-6 mb-3">

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="same-address">
      <span class="custom-control-label" for="same-address">Store Pickup</span>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="save-info">
      <span class="custom-control-label" for="save-info">Delivery</span>
    </div>
  </div>
</div>

        </fieldset>

      </form>
    </div>

    <div class="col-md-4 order-md-2 mb-4">
      <div class="cart-box">
        <h4 class="text-center justify-content-between align-items-center mb-3">
          <span class="heading-color">Cart Total</span>

        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Price (2 item)</h6>

            </div>
            <span class="heading-color">340 KWD</span>

          </li>

          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Discount item</h6>

            </div>
            <span class="heading-color">20 KWD</span>

          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Delivery Charges</h6>

            </div>
            <span class="heading-color">10 KWD</span>

          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total Amount </span>
            <strong class="heading-color">320 KWD</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <button class="checkout">SAVE AND DELIVER HERE</button>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <button class="btn wishlist btn-primary card-btn"
              style="background-color:#c5402a;float:right;width: 100%;">Cancel</button>
          </li>
        </ul>



      </div>
    </div>
  </div>

</div>
