
<footer id="footer">

  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>SHOP</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">New in</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Top Brands</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Sale & Special Offers</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Lookbook</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>INFORMATION</h4>
          <ul>

            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Customer Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Reward Programs</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Shipping & Returns</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Customer Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Search Terms</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Advanced Search</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Orders & Returns</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Theme FAQs</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Cunsultants</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Store Locations</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 footer-newsletter">
          <h4>Stay Connected</h4>
          <div class="social-links text-md-left pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="fa fa-facebook"></i></a>
            <a href="#" class="facebook"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-skype"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

          <!-- <h4>Newsletter Sign Up</h4>

          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form> -->
        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter shop-through">
          <h4>Shop Through</h4>
          <div class="social-links text-md-left pt-3 pt-md-0" style="max-width: 34px;display: flex;">
            <img src="../assets/img/android.png" class="img-fluid" alt="">
            <img src="../assets/img/apple.png" class="img-fluid" alt="">
          </div>

          
        </div>


      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <img src="../assets/img/payment-method.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>


</footer><!-- End Footer -->

<!-- Footer End -->