.address-lable{
  padding: 10px;
}
.address-lable label{
  width: 116px;
}

.headingLabel{
 color: #c43b2a;
}


* {
  box-sizing: border-box;
}

/* form and fieldsets */


fieldset {
  border: 0.15rem solid transparent;
  border-image-slice: 1;
  padding: 1rem;
}

legend {
  font-size: 1.2rem;
}


/* input and labels */

.input-wrapper {
  margin: 0;
  position: relative;
  width: 100%;
  padding: 1rem;
  font-size: 1.15rem;
}

.lg-third {
  max-width: 14rem;
}

label,
input,
button {
  outline: 0;
  border-radius: 0;
}

label,
button {
  cursor: pointer;
}

input[type="text"] + label,
input[type="text"] {
  display: inline-block;
  outline: 0;
}

input[type="text"] {
  height: 3.4rem;
  width: 100%;
  padding-top: 2.5em;
  padding-left: 0.45em;
  padding-bottom: 0.25em;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  border: 0;
  box-shadow: inset 0 0 0 0.2rem #eceaea;
}

input[type="text"]:focus,
input[type="text"].open {
  color: #262c37;
  background: #fff;

  box-shadow: inset 0 0 0 0.2rem #c5402a;
}

input[type="text"] ~ label {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 85%;
  color: #c5402a;
  padding: 0 0.5em 0.5em;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input[type="text"]:focus ~ label,
input[type="text"].open ~ label {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  -webkit-transform: scale(0.8) translateX(-13%) translateY(-1.6rem);
  transform: scale(0.8) translateX(-13%) translateY(-1.6rem);
}




/* submit section */

.submit-wrap {
  margin: auto;
  max-width: 35rem;
}


@media screen and (min-width: 40rem) {
  .container {
    max-width: 54rem;
    margin: 2rem auto;
  }
  .input-wrapper {
    display: inline-block;
  }

  .lg-third {
    width: 33.3333%;
  }
  .two-thirds {
    width: 66.6666%;
  }
  .btn,
  legend {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 40rem) and (min-height: 67.5rem) {
  .container {
    position: absolute;
    width: 100%;
    max-width: 54rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
