

.login-box {
  animation: fadeIn 1s;
  z-index: 10;
  border-radius: 5px;
  position: relative;
  min-width: 400px;
  min-height: 200px;
  padding: 4rem 3rem;
  background-color: white;
}
.login-box a {
  text-decoration: none;
}
.login-box .login {
  display: none;
}
.login-box .signin {
  animation: fadeIn 0.8s;
}
.login-box .signup {
  animation: fadeIn 0.8s;
}
.login-box .action p {
  display: inline;
}
.login-box .action .signup {
  float: right;
  font-weight: 700;
}
.login-box .input-field {
  width: 100%;
  position: relative;
}
.login-box .input-field i {
  position: relative;
  position: absolute;
  top: 10px;
  left: 50px;
}
.login-box .input-field #password {

  background-size: 20px;
  z-index: 50;
}
.login-box .input-field #email {

  background-size: 20px;
  z-index: 50;
}
.login-box .input-field #tel {

  background-size: 20px;
  z-index: 50;
}
.login-box .input-field input {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  display: block;
  padding: 15px 17px;
  margin: 26px 0;
  border: none;
  border-left: 5px solid #e45f79;
  border-radius: 4px;
}
.login-box-button {
  position: relative;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
.login-box-button button {
  padding: 0.8rem 2rem;
  background: #d74627;
  color: white;
  font-weight: 800;
  border: none;
  transition: all 1s ease-in;
  background-position: 0;
}
.login-box-button button:active {
  background-image: linear-gradient(to right top, #0e1776, #091b97, #031db9, #011edc, #081dff);
  background-position: 400%;
  transform: scale(1.1);
}


input::placeholder{
  color: #e45f79;
}
.login-text{
  color: #e45f79;
}
@media screen and (max-width: 776px) {
  .login-box {
    padding: 4rem 2rem !important;
    right: unset !important;
    width: 50px !important;
    max-width: 100px;
  }
}

.forgot{
  float: right;
}




.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
     background: #fff;
    border: 2px solid #009688;
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 23px;
    padding: 0px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  background: rebeccapurple;
  color: #fff;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #009688;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
outline: 1px solid #ddd; /* focus style */
}

.img-login{
  width: 58%;
  height: 343px;
  text-align: center;
  margin-left: 126px;
  margin-top: 48px;
}
