

<div class="container">
  <div class="row">
  <div class="col-md-6">
    <div class="login-box">
      <form>
        <div class="signin">
          <h1 class="topline">Welcome back,</h1>
          <p class="login-text"> Please login to your account</p>
          <div class="input-field">
            <input id="email" type="email" name="email" formControlName="email" placeholder=" Email Address" />

          </div>

          <div class="input-field">
            <input id="password" type="password" name="password" formControlName="password" placeholder="Password" />

          </div>

          <div class="action">
            <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
            <label for="radio-1" class="radio-custom-label">Remember me</label>
            <a class="forgot">Forgot Password?</a>
          </div>

          <div class="login-box-button">
            <button type="submit">
              <i class="fas fa-sign-in-alt"></i>
              Login
            </button>
          </div>
        </div>
      </form>

    </div>
  </div>
  <div class="col-md-6">
    <img src="../assets/img/login-image.jpeg" class="img-login">
  </div>
</div>
  </div>
