
<div class="container">
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
      <div class="container-fluid">
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Products</a></li>
              <li class="breadcrumb-item active">Cart</li>
          </ul>
      </div>
  </div>
</div>
  <!-- Breadcrumb End -->
<div class="container shopping-cart">
<div class="row">
   <div class="col-md-9">
      <div class="shopping-cart">
          <div class="product">
            <div class="product-image">
              <img src="../assets/img/Ace-Web_95.png">
            </div>
            <div class="product-details">
              <div class="product-title">AIR PURIFIER</div>
              <p class="product-description">Magic Bullet Blender Set, MB4-1012 (400 W , 11pcs)</p>
            </div>
            <div class="product-color">
              <input style="width: 81px;"type="text" placeholder="Color">
            </div>
            <div class="product-quantity">
              <input type="text" value="40kg" placeholder="Weight">
            </div>
            <div class="product-quantity">
              <input type="number" value="2" min="1">
            </div>
            <div class="product-line-price heading-color text-bold">170 KWD</div>
            <div class="">
              <img src="../assets/img/remove.png" class="remove-img" style="float: right;
              height: 40px;">
              </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img src="../assets/img/Ace-Web_97.png">
            </div>
            <div class="product-details">
              <div class="product-title">VACCUM</div>
              <p class="product-description">Weber Genesis II 3-burner Gas Grill, E310</p>
            </div>
            <div class="product-color">
              <input style="width: 81px;"type="text" placeholder="Color">
            </div>
            <div class="product-quantity">
              <input type="text" value="40kg" placeholder="Weight">
            </div>
            <div class="product-quantity">
              <input type="number" value="2" min="1">
            </div>
            <div class="product-line-price heading-color text-bold">170 KWD</div>
            <div class="">
              <img src="../assets/img/remove.png" class="remove-img" style="float: right;
              height: 40px;">
              </div>
          </div>


        </div>

 <div class="row">
  <div class="col-md-6">
   <div class="input-group coupon-box">
       <input type="text" class="form-control"
           placeholder="Enter your coupon code" style="border:1px solid #c5402a;">
       <div class="input-group-append">
           <button type="submit"
               class="btn btn-secondary " style="background-color:#c5402a;border:1px solid #c5402a;">Apply Coupon</button>
       </div>
   </div>
  </div>
  <div class="col-md-6">
   <button class="btn wishlist btn-primary card-btn" style="background-color:#c5402a;float:right">Place Order</button>
</div>
</div>
   </div>
  <div class="col-md-3 order-md-2 mb-4">
      <div class="cart-box">
      <h4
          class="text-center justify-content-between align-items-center mb-3">
          <span class="heading-color">Your cart</span>

      </h4>
      <ul class="list-group mb-3">
          <li
              class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                  <h6 class="my-0">Price (2 item)</h6>

              </div>
              <span class="heading-color">340 KWD</span>

          </li>

          <li
              class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                  <h6 class="my-0">Discount  item</h6>

              </div>
              <span class="heading-color">20 KWD</span>

          </li>
          <li
          class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
              <h6 class="my-0">Delivery Charges</h6>

          </div>
          <span class="heading-color">10 KWD</span>

      </li>
          <li class="list-group-item d-flex justify-content-between">
              <span>Total Amount </span>
              <strong class="heading-color">320 KWD</strong>
          </li>
          <li>
              <button class="checkout">Place Order</button>
          </li>
      </ul>



  </div>
</div>
</div>

</div>
  <!-- Category End-->
