<!-- Main Slider Start -->


<div class="container-fluid shopping-cart">
  <div class="row">
      <div class="col-md-12">
         <div class="shopping-cart">
           <div class="product">
             <div class="product-image">
               <img src="../assets/img/Ace-Web_95.png">
             </div>
             <div class="product-details">
               <div class="product-title">AIR PURIFIER</div>
               <p class="product-description">Magic Bullet Blender Set, MB4-1012 (400 W , 11pcs)</p>
             </div>
             <div class="product-color">
               <input style="width: 81px;"type="text" placeholder="Color">
             </div>
             <div class="product-quantity">
               <input type="text" value="40kg" placeholder="Weight">
             </div>
             <div class="product-quantity">
               <input type="number" value="2" min="1">
             </div>
             <div class="product-line-price heading-color text-bold">170 KWD</div>
             <div class="">
              <img src="../assets/img/remove.png" class="remove-img" style="float: right;    margin-top: 31px;
              height: 40px;">
              </div>
           </div>

           <div class="product">
             <div class="product-image">
               <img src="../assets/img/Ace-Web_97.png">
             </div>
             <div class="product-details">
               <div class="product-title">VACCUM</div>
               <p class="product-description">Weber Genesis II 3-burner Gas Grill, E310</p>
             </div>
             <div class="product-color">
               <input style="width: 81px;"type="text" placeholder="Color">
             </div>
             <div class="product-quantity">
               <input type="text" value="40kg" placeholder="Weight">
             </div>
             <div class="product-quantity">
               <input type="number" value="2" min="1">
             </div>
             <div class="product-line-price heading-color text-bold">170 KWD</div>
             <div class="">
              <img src="../assets/img/remove.png" class="remove-img" style="float: right;    margin-top: 31px;
              height: 40px;">
              </div>
           </div>


           </div>

    <div class="row">
     <div class="col-md-6">
       <button class="btn wishlist btn-primary card-btn" style="background-color:#c5402a;">Continue Shopping</button>
     </div>
     <div class="col-md-6">
      <button class="btn wishlist btn-primary card-btn" style="background-color:#2e5d38;border:none;float:right">Proceed to checkout</button>
  </div>
 </div>
      </div>

  </div>

 </div>
     <!-- Category End-->
