<div class="nav-top" id="head-tap">
  <div class="container-fluid">
    <div class="justify-content-center justify-content-lg-between row">
      <div class="col-auto">
        <p><a href="/signup">Sign up</a> &amp; enjoy <b>10% OFF</b> your first order on full priced items <a
            href="/terms-and-conditions.html">T&amp;Cs apply.*</a></p>
      </div>
      <div class="col-auto">
        <ul class="nav">
          <li class="nav-item"><a title="Go to:  Register" class="nav-link">Register</a></li>
          <li class="nav-item"><a class="divider nav-link"><span></span></a></li>
          <li class="nav-item"><a title="Go to:  Sign In" class="nav-link">Sign In</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class="" id="sticky-head">
  <div class="container-fluid">
    <div class="align-items-center justify-content-between row">
      <div class="col-auto"><a class="navbar-brand"><img src="../assets/img/ace.png" alt="Ace"></a></div>
      <div class="search-outer col">
        <div class="search"><a class="btn-search" role="presentation"> <i class="fa fa-search" aria-hidden="true"></i></a><input
            placeholder="Search for products, brands and more.." type="text" class="form-control form-control"
            value=""><a class="btn-clear" role="presentation"><i class="icon-close"></i></a></div>
      </div>
      <div class="col-auto">
        <ul class="nav-icon-right nav">
          <li class="nav-item"> <i class="fa fa-user" style="font-size: 22px;color: #c5402a;"></i></li>
          <li class="nav-item"><i class="fa fa-heart" style="font-size: 22px;color: #c5402a;"></i></li>
          <li class="nav-item c-ico"><i class="fa fa-shopping-cart"></i></li>

        </ul>
      </div>
    </div>
  </div>
 </header>
<!-- <div class="bottom-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <a href="index.html">
            <img src="../assets/img/ace.png" alt="Logo">

          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="search-box">
          <input type="text" class="search-input" placeholder="Search your product">

          <button class="search-button">
            <i class="fa fa-search" style="font-size: 26px;
        color: #c1c1c1;" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="user">
          <a href="wishlist.html" class="btn wishlist">
            <i class="fa fa-user"></i>
          </a>
          <a href="wishlist.html" class="btn wishlist">
            <i class="fa fa-heart"></i>

          </a>
          <a href="cart.html" class="btn cart wishlist">
            <i style="color: #fff !important;" class="fa fa-shopping-cart"></i>

          </a>
          <a href="#" class="btn wishlist btn-primary card-btn">Login / Signup</a>
        </div>
      </div>
    </div>
  </div>
</div>  -->
<div id="topbar" class="d-flex align-items-center sub-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="../assets/img/categories.png" class="img-fluid nav-image" alt="">
        <a class="heading-a">Shop by Categories</a>
      </div>
      <div class="col-md-3">

        <img src="../assets/img/categories.png" class="img-fluid nav-image" alt="">
        <a class="heading-a">Shop by Brand</a>
      </div>
      <div class="col-md-3">
        <img src="../assets/img/Bulk Enquiries.png" class="img-fluid nav-image" alt="">
        <a class="heading-a">Bulk Enquiries</a>
      </div>
      <div class="col-md-3">
        <img src="../assets/img/24_hours.png" class="img-fluid nav-image" alt="">
        <a class="heading-a">Services</a>
      </div>
    </div>
  </div>

</div>
