<div class="language-switcher" id="language-selector"><ul class="nav"><li class="nav-item">
  <a class="nav-link" style="color:#000" (click)="useLanguage('en')">Stay in <b>English</b></a></li>
  <li class="nav-item"><a class="divider nav-link"><span></span></a></li><li class="nav-item">
    <a class="nav-link" (click)="useLanguage('ar')"><b>اللغة العربية</b></a></li></ul><div>
  </div></div>
<div class="nav-top" id="head-tap">
  <div class="container-fluid">
    <div class="justify-content-center justify-content-lg-between row">
      <div class="col-auto">
        <p><a href="/signup">Sign up</a> &amp; enjoy <b>10% OFF</b> your first order on full priced items <a
            href="/terms-and-conditions.html">T&amp;Cs apply.*</a></p>
      </div>
      <div class="col-auto">
        <ul class="nav">
          <li class="nav-item"><a title="Go to:  Register" class="nav-link">Register</a></li>
          <li class="nav-item"><a class="divider nav-link"><span></span></a></li>
          <li class="nav-item"><a title="Go to:  Sign In" class="nav-link" data-toggle="modal"
              data-target="#myModal">Sign In</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class="" id="sticky-head">
  <div class="container-fluid">
    <div class="align-items-center justify-content-between row">
      <div class="col-auto"><a class="navbar-brand" routerLink="/home"><img src="../assets/img/ace.png" alt="Ace"></a></div>
      <div class="search-outer col">
        <div class="search"><a class="btn-search" role="presentation"> <i class="fa fa-search"
              aria-hidden="true"></i></a><input placeholder="Search for products, brands and more.." type="text"
            class="form-control form-control" value=""><a class="btn-clear" role="presentation"><i
              class="icon-close"></i></a></div>
      </div>
      <div class="col-auto">
        <ul class="nav-icon-right nav">
          <li class="nav-item">
            <a class="site-header__account" title="My Account" href="https://my.namshi.com/" data-user-auth="">
              <svg class="site-header__icon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
              <circle cx="12" cy="7" r="4" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></circle>
              </svg>
              <span>{{"Account" | translate}}</span>
              </a>
          </li>
          <li class="nav-item"><a class="site-header__wishlist" title="Wishlist" href="/wishlist">
            <svg class="site-header__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 21.35l-1.45-1.32c-5.15-4.67-8.55-7.75-8.55-11.53 0-3.08 2.42-5.5 5.5-5.5 1.74 0 3.41.81 4.5 2.09 1.09-1.28 2.76-2.09 4.5-2.09 3.08 0 5.5 2.42 5.5 5.5 0 3.78-3.4 6.86-8.55 11.54l-1.45 1.31z"></path>
            </svg>
            <span>{{"Wishlist" | translate}}</span>
            </a>
          </li>
          <li class="nav-item c-ico"><i class="fa fa-shopping-cart"></i></li>

        </ul>
      </div>
    </div>
  </div>
</header>
<!-- <div class="bottom-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <a href="index.html">
            <img src="../assets/img/ace.png" alt="Logo">

          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="search-box">
          <input type="text" class="search-input" placeholder="Search your product">

          <button class="search-button">
            <i class="fa fa-search" style="font-size: 26px;
        color: #c1c1c1;" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="user">
          <a href="wishlist.html" class="btn wishlist">
            <i class="fa fa-user"></i>
          </a>
          <a href="wishlist.html" class="btn wishlist">
            <i class="fa fa-heart"></i>

          </a>
          <a href="cart.html" class="btn cart wishlist">
            <i style="color: #fff !important;" class="fa fa-shopping-cart"></i>

          </a>
          <a href="#" class="btn wishlist btn-primary card-btn">Login / Signup</a>
        </div>
      </div>
    </div>
  </div>
</div>  -->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="form">

        <ul class="tab-group">
          <li class="tab active"><a href="#signup">SignIn</a></li>
          <li class="tab"><a href="#login">SignUp</a></li>
        </ul>

        <div class="tab-content">
          <div id="signup">
            <div class="login-box">
              <form>
                <div class="signin">
                  <h1 class="topline">Welcome back,</h1>
                  <p class="login-text"> Please login to your account</p>
                  <div class="input-field">
                    <input id="email" type="email" name="email" formControlName="email" placeholder=" Email Address" />

                  </div>

                  <div class="input-field">
                    <input id="password" type="password" name="password" formControlName="password"
                      placeholder="Password" />

                  </div>

                  <div class="action">
                    <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
                    <label for="radio-1" class="radio-custom-label">Remember me</label>
                    <a class="forgot">Forgot Password?</a>
                  </div>
                  <section id="uaSocialAuth" class="userAuth__contentWrapper" style="margin-top: 40px;">
                    <div class="userAuth__socialBtns">
                      <div>
                        <div id="fb-root" class=" fb_reset">
                          <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
                            <div></div>
                          </div>
                        </div><button class="userAuth__btn userAuth__btn--fb"><i
                            class="userAuth__icon userAuth__icon--fb"></i>Continue With Facebook</button>
                      </div>
                      <div><button id="userAuthGoogleBtn" class="userAuth__btn userAuth__btn--google"><i
                            class="userAuth__icon userAuth__icon--google"></i>Contiue With Google</button></div>

                    </div>
                  </section>
                  <div class="login-box-button">
                    <button type="submit">
                      <i class="fas fa-sign-in-alt"></i>
                      Signin
                    </button>
                  </div>
                </div>
              </form>

            </div>

          </div>

          <div id="login">
            <div class="login-box">
              <form>
                <div class="signin">
                  <h1 class="topline">Register an account,</h1>
                  <p class="login-text"> Create a new online account and join Ace Rewards or Link accounts (Joining or
                    linking is optional)</p>
                  <div class="input-field">
                    <input id="password" type="text" name="username" formControlName="name" placeholder="Full name" />

                  </div>
                  <div class="input-field">
                    <input id="email" type="email" name="email" formControlName="email" placeholder=" Email Address" />

                  </div>

                  <div class="input-field">
                    <input id="password" type="password" name="password" formControlName="password"
                      placeholder="Password" />

                  </div>
                  <section id="uaSocialAuth" class="userAuth__contentWrapper">
                    <div class="gender_social">
                      <div>
                        <label>Gender</label>
                        <div id="fb-root" class=" fb_reset">
                          <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
                            <div></div>
                          </div>
                        </div><button class="gender_btn  userAuth__btn--fb"><img src="../assets/img/man.png" class="img-fluid" alt="" style="max-width: 30px;">
                          <div class="gender-radio"><label _ for="newaccount" class="custom-label"></label><input
                              type="radio" name="selector" checked=""></div>Male
                        </button>
                      </div>
                      <div><button id="userAuthGoogleBtn" class="gender_btn  userAuth__btn--google"><img src="../assets/img/woman.png" class="img-fluid" alt="" style="max-width: 30px;">
                          <div class="gender-radio"><label _ for="newaccount" class="custom-label"></label><input
                              type="radio" name="selector" checked=""></div>Female
                        </button></div>

                    </div>
                  </section>

                  <section id="uaSocialAuth" class="userAuth__contentWrapper">
                    <div class="userAuth__socialBtns">
                      <div>
                        <div id="fb-root" class=" fb_reset">
                          <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
                            <div></div>
                          </div>
                        </div><button class="userAuth__btn userAuth__btn--fb"><i
                            class="userAuth__icon userAuth__icon--fb"></i>Continue With Facebook</button>
                      </div>
                      <div><button id="userAuthGoogleBtn" class="userAuth__btn userAuth__btn--google"><i
                            class="userAuth__icon userAuth__icon--google"></i>Contiue With Google</button></div>

                    </div>
                  </section>
                  <div class="login-box-button">
                    <button type="submit">
                      <i class="fas fa-sign-in-alt"></i>
                      SignUp
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div><!-- tab-content -->

      </div> <!-- /form -->

    </div>

  </div>
</div>

<div id="topbar" class="d-flex align-items-center sub-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-3 nav-margin-btm">
        <img src="../assets/img/categories.png" class="img-fluid nav-image" alt="">
        <a class="heading-a">{{"Shop by Categories" | translate}}</a>
      </div>
      <div class="col-md-3 nav-margin-btm">

        <img src="../assets/img/categories.png" class="img-fluid nav-image" alt="">
        <a class="heading-a">{{"Shop by Brand" | translate}}</a>
      </div>
      <div class="col-md-3 nav-margin-btm">
        <img src="../assets/img/Bulk Enquiries.png" class="img-fluid nav-image" alt="">
        <a class="heading-a">{{"Bulk Enquiries" | translate}}</a>
      </div>
      <div class="col-md-3 nav-margin-btm">
        <img src="../assets/img/24_hours.png" class="img-fluid nav-image" alt="">
        <a class="heading-a">{{"Services" | translate}}</a>
      </div>
    </div>
  </div>

</div>
