.nav-top {
  background: #eae9e9;
  min-height: 2rem;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.nav-top p {
  padding: 0.27rem 0;
}
.nav-top a {
  color: #c43b2a;
  text-decoration: underline;
}
.nav-top .nav .nav-item .nav-link {
  padding: 0.27rem 0;
  text-decoration: none;
  color: #c43b2a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  cursor: pointer;
}
.nav-top .nav {
  justify-content: flex-end;
}
.nav-top .nav .nav-item .divider {
  padding: 0.27rem 0.5rem;
}
.nav-top .nav .nav-item .divider span {
  display: block;
  margin-top: 0.25rem;
  width: 1px;
  height: 16px;
  background: #1f2d3d;
}
header {
  background: #fff;
  padding: 1rem 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.navbar-brand img {
  width: 100%;
  max-width: 108px;
}
.navbar-brand {
  margin: 0;
  height: 60px;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 1rem;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
}
header .nav-icon-right {
  justify-content: space-between;
  width: 291px;
  padding: 0;
}
header .nav-icon-right .nav-item .stores {
  background-position: 0 0;
}

header .nav-icon-right .nav-item .wishlist {
  background-position: -24px 0;
}
header .nav-icon-right .nav-item .nav-link {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 0;
  background: url(/assets/img/header-utility.svg);
}
header .nav-icon-right .nav-item .cart {
  background-position: -48px 0;
}

header .nav-icon-right .nav-item .wishlist {
  background-position: -24px 0;
}

.search-outer {
  max-width: 696px;
}
.search-outer .search {
  position: relative;
}
[dir="ltr"] .search-outer .btn-search {
  left: 0.5rem;
}

.search-outer .btn-search {
  position: absolute;
  top: 14%;
  width: 24px;
  height: 24px;
  margin-left: 11px;
}
.search-outer .btn-search i {
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
  color: #c0ccda;
}
.search-outer .btn-search i:before {
  line-height: 1.5rem;
}

.icon-search:before {
  content: "\ea07";
}
.search-outer .form-control {
  padding-left: 3rem;
  padding-right: 3rem;
}
[dir="ltr"] .search-outer .btn-clear {
  right: 0.5rem;
}

.search-outer .btn-clear {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.search-outer .btn-search i {
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
  color: #c43b2a;
  margin-top: 6px;
}

.search-outer .form-control {
  padding-left: 3rem;
  padding-right: 3rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.3754rem + 2px);
  padding: 0.6877rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1f2d3d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e0e6ed;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.c-ico {
  background: #eeeeee;
  width: 30px;
  height: 27px;
}

.c-ico i {
  font-size: 22px;
  color: #9a9696;
  margin-left: 5px;
  margin-top: 3px;
}
.modal-dialog {
  max-width: 800px !important;
}

/* login css */
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #000;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.tab-group li a:hover {
  border-bottom: 5px solid #d40029;
  color: #d40029;
}
.tab-group .active a {
  border-bottom: 5px solid #d40029;
  color: #d40029;
}
.tab-content > div:last-child {
  display: none;
}
h1 {
  text-align: center;
  color: #000;
  font-weight: 300;
}
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: #000;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}
label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}
label.highlight {
  color: #fff;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: #1ab188;
}
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover,
.button:focus {
  background: #179b77;
}
.button-block {
  display: block;
  width: 100%;
}
.forgot {
  margin-top: 17px;
  text-align: right;
}
/* login end css */

.login-box {
  animation: fadeIn 1s;
  z-index: 10;
  border-radius: 5px;
  position: relative;
  min-width: 400px;
  min-height: 200px;
  padding: 0rem 2rem;
  background-color: white;
}
.login-box a {
  text-decoration: none;
}
.login-box .login {
  display: none;
}
.login-box .signin {
  animation: fadeIn 0.8s;
}
.login-box .signup {
  animation: fadeIn 0.8s;
}
.login-box .action p {
  display: inline;
}
.login-box .action .signup {
  float: right;
  font-weight: 700;
}
.login-box .input-field {
  width: 100%;
  position: relative;
}
.login-box .input-field i {
  position: relative;
  position: absolute;
  top: 10px;
  left: 50px;
}
.login-box .input-field #password {
  background-size: 20px;
  z-index: 50;
}
.login-box .input-field #email {
  background-size: 20px;
  z-index: 50;
}
.login-box .input-field #tel {
  background-size: 20px;
  z-index: 50;
}
.login-box .input-field input {
  width: 100%;
  display: block;
  padding: 15px 1px;
  font-size: 20px;
  margin: 26px 0;
  border: none;
  border-bottom: 1px solid #cccccc;
}
.login-box-button {
  position: relative;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-box-button button {
  padding: 0.8rem 2rem;
  background: #d40029;
  color: white;
  font-weight: 800;
  border: none;
  transition: all 1s ease-in;
  background-position: 0;
}
.login-box-button button:active {
  background-image: linear-gradient(
    to right top,
    #0e1776,
    #091b97,
    #031db9,
    #011edc,
    #081dff
  );
  background-position: 400%;
  transform: scale(1.1);
}

input::placeholder {
  color: #d40029;
}
.login-text {
  color: #d40029;
  text-align: center;
}
@media screen and (max-width: 776px) {
  .login-box {
    padding: 4rem 2rem !important;
    right: unset !important;
    width: 50px !important;
    max-width: 100px;
  }
}

.forgot {
  float: right;
}

.checkbox-custom,
.radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  cursor: pointer;
}

.checkbox-custom-label,
.radio-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before,
.radio-custom + .radio-custom-label:before {
  background: #fff;
  border: 2px solid #009688;
  display: inline-block;
  vertical-align: middle;
  width: 31px;
  height: 32px;
  padding: 0px;
  margin-right: 8px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  background: rebeccapurple;
  color: #fff;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #009688;
}

.checkbox-custom:focus + .checkbox-custom-label,
.radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

.img-login {
  width: 58%;
  height: 343px;
  text-align: center;
  margin-left: 126px;
  margin-top: 48px;
}

.userAuth.ar .userAuth__contentWrapper {
  direction: rtl;
}

.userAuth__contentWrapper {
  /* padding: 15px; */
}
.userAuth__socialBtns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
.gender_social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  margin-left: 91px;
}
.gender_social label {
  margin-left: 25px;
  color: #d40029;
}
.gender-radio {
  padding: 6px;
  margin-top: 3px;
}
.userAuth__btn {
  padding: 0;
  border: 0;
  width: 100%;
  height: 47px;
  font-size: 14px;
  background: #ffff;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  color: #333;
}
.gender_btn {
  padding: 0;
  border: 0;
  width: 115px;
  height: 47px;
  font-size: 14px;
  background: #ffff;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  color: #333;
}
.fb_reset {
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}
.userAuth__btn {
  padding: 0;
  border: 0;
  width: 100%;
  height: 47px;
  font-size: 14px;
  background: #fff;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  color: #333;
}
.userAuth.ar .userAuth__icon {
  margin-right: 0;
  margin-left: 10px;
}

.userAuth__icon--fb {
  background: url(//a.namshicdn.com/login/assets/fb.svg) no-repeat;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}
.userAuth.ar .userAuth__icon {
  margin-right: 0;
  margin-left: 10px;
}
.userAuth__icon--google {
  background: url(//a.namshicdn.com/login/assets/google.svg) no-repeat;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.modal-content .form {
  padding: 31px;
}

/*
heart icon */
.site-header__icon {
  stroke: #d40029;
  fill: none;
  width: 25px;
  height: 25px;
  float: left;
}

.site-header__account,
.site-header__cart,
.site-header__wishlist {
  position: relative;
  color: #fff;
  cursor: pointer;
}
.site-header__account,
.site-header__cart,
.site-header__wishlist {
  margin: 5px;
}
/* End heart icon */
.nav-item span {
  color: #9c9a9a;
}
/* end */

.language-switcher {
  background: #fff;
  height: 2rem;
  text-align: center;
}

.language-switcher .nav .nav-item .nav-link {
  padding: 0.27rem 0.5rem;
  max-width: 200px;
}
.language-switcher .nav .nav-item .nav-link b {
  color: #004ba0;
}

.language-switcher .nav .nav-item .nav-link {
  padding: 0.27rem 0.5rem;
  max-width: 200px;
}
.language-switcher .nav .nav-item .divider span {
  display: block;
  margin-top: 0.25rem;
  width: 1px;
  height: 16px;
  background: #1f2d3d;
}
.language-switcher .nav {
  -moz-box-pack: center;
  justify-content: center;
}
